<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/form.css">
</head>
<body>
  <form action="" method="post">
    <fieldset>
      <legend>个人信息</legend>
  
      <label for="_name">姓名</label>
      <input type="text" id="_name" name="name">
  
      <label for="_age">年龄</label>
      <input type="number" id="_age" name="age">
  
      <label for="_gender">性别</label><br>
      Male<input type="radio" name="gender" value="male" id="_gender"><br>
      Female<input type="radio" name="gender" value="female" id="gender">
  
      <label for="hobbies">爱好</label>
      <input type="text" name="hobbies" id="hobbies">

      <input type="submit" value="提交">
    </fieldset>
  </form>
</body>
</html>